<div class="auth">
  <header class="auth__header">
    <div class="auth__brand">LinguaForces</div>
    <div class="auth__actions">
      <button class="btn btn--ghost" [routerLink]="'/login'">Login</button>
      <button class="btn btn--primary" [routerLink]="'/register'">Register</button>
    </div>
  </header>

  <main class="auth__main">
    <section class="auth__card card">
      <h1 class="auth__title">Crea tu cuenta</h1>
      <p class="auth__subtitle">
        Regístrate y accede a ejercicios hechos a tu medida
      </p>

      <form>
        <label for="name" class="auth__label">Nombres y apellidos</label>
        <input id="name" type="name" class="auth__input" placeholder="Joen Doe" />

        <label for="email" class="auth__label">Correo electrónico</label>
        <input id="email" type="email" class="auth__input" placeholder="m@example.com" />

        <label for="password" class="auth__label">Contraseña</label>
        <input id="password" type="password" class="auth__input" placeholder="**********" />

        <label for="password" class="auth__label">Confirmar contraseña</label>
        <input id="password" type="password" class="auth__input" placeholder="**********" />

        <button type="submit" class="btn btn--primary auth__button" >
          Iniciar sesión
        </button>
      </form>

      <p class="auth__foot">
        ¿No tienes cuenta? <a href="#">Regístrate</a>
      </p>
    </section>
  </main>

  <footer class="auth__footer">
    <p>2024 LinguaForces. All rights reserved</p>
    <nav class="footer__nav">
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
      <a href="#">Contact</a>
    </nav>
  </footer>
</div>
