@use 'utils/variables' as *;
@use 'utils/mixins' as *;

.landing {
  background-color: #F0FBF6;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  &__main {
    flex: 1;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    // Asegura que los elementos estén uno al lado del otro en pantallas grandes
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__hero {
    // flex: 1 1 60%;
    max-width: 40%;
    & .landing__title {
      font-size: $extra-bold-header1-font-size;
      margin-bottom: 3rem;

      .highlight {
        color: $color-primary;
      }
    }

    & .landing__subtitle {
      margin-top: 1rem;
      font-size: $text-1-font-size;
      color: #000;
      line-height: 1.8; // Aquí agregas el interlineado
    }

    .btn--primary {
      margin-top: 2rem;
    }
    @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
      text-align: center;
    margin-bottom: 4rem;

    }
  }

  &__features {
    flex: 0 0 40%;
    padding: 0;
    margin-left: auto;
    
    align-self: flex-start; // hace que el card solo tome la altura que su contenido necesita

    .features__header {
      background: linear-gradient(90deg, #CAE2E3, #DCFBE8);
      padding: 1.5rem 2rem;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    .features__title {
      color: #1D4ED8;
      font-size: 2rem;
      font-weight: 700;
    }

    .features__subtitle {
      font-size: 1rem;
      color: #1D4ED8;
      margin: 0;
    }

    .features__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;

      .feature {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        &__icon {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 15px;
        }

        &__text {
          font-size: 16px;
          font-family: "Jost-Medium", Helvetica;
          color: #000;
          line-height: 1.5; // o 1.6, lo que prefieras para más espacio entre líneas

        }
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      // center 
      margin: 0 auto;
    }
  }


  &__footer {
    width: 100%;
    background-color: white;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__nav {
      display: flex;
      gap: 1rem;

      a {
        font-size: $text-2-font-size;
        color: #000;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}