
<div class="landing">
  <app-auth-header></app-auth-header>


  <main class="landing__main">
      <section class="landing__hero">
        <h1 class="landing__title">
          Mide tu nivel de <span class="highlight">Inglés</span>
        </h1>
        <p class="landing__subtitle">
          Entrenamiento y evaluación personalizada para ayudarte a dominar el inglés a tu propio ritmo
        </p>
        <button class="btn btn--primary" [routerLink]="'/login'">Empezar</button>
      </section>

      <section class="landing__features card">
        <div class="features__header">  
          <h2 class="features__title">¿Por qué LinguaForces?</h2>
          <p class="features__subtitle">La forma más inteligente de conocer tus dotes lingüísticos</p>
        </div>

        <div class="features__list">
          <div class="feature">
            <div class="feature__icon">
              <img src="assets/images/check.png" alt="Check" />
            </div>
            <p class="feature__text">
              <strong>Personalized learning</strong><br />
              Adaptive training based on your skill level
            </p>
          </div>

          <div class="feature">
            <div class="feature__icon">
              <img src="assets/images/shield.png" alt="Shield" />
            </div>
            <p class="feature__text">
              <strong>Comprehensive Evaluation</strong><br />
              Identifies your strengths and areas for improvement
            </p>
          </div>

          <div class="feature">
            <div class="feature__icon">
              <img src="assets/images/alert.png" alt="Alert" />
            </div>
            <p class="feature__text">
              <strong>Progress Tracking</strong><br />
              Monitor your improvement over time
            </p>
          </div>
        </div>
      </section>
  </main>
  

  <footer class="landing__footer">
    <p>2024 LinguaForces. All rights reserved</p>
    <nav class="footer__nav">
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
      <a href="#">Contact</a>
    </nav>
  </footer>
</div>
