@use 'utils/mixins';
@use 'utils/variables';
@use 'utils/headers';
@use 'components/card';
@use 'components/modal';
@use 'components/button';

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif; // 👈 si estás usando Arial globalmente
  background-color: variables.$color-background;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-calendar-picker-indicator {
  display: none !important;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
