// Colores principales para botones
$color-primary: #3B82F6;   // azul violeta
$color-primary-hover: #316BCA;
$color-primary-strong: #1D4ED8; // azul fuerte

$color-secondary: white;
$color-secondary-hover: #F0F0F0; // blanco suave

$color-success: #10b981;   // verde
$color-success-hover: #059669;

$color-danger: #ef4444;    // rojo
$color-danger-hover: #b91c1c;

$color-disabled: #a5b4fc;
$color-background: #F0FBF6;

// Textos y fuentes
$semibold-header-1-font-size: 2rem;
$extra-bold-header1-font-size: 3rem;

$text-1-font-size: 1rem;
$text-2-font-size: 0.7rem;


// Responsive breakpoints
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);
