// Colores principales para botones
$color-primary: #3B82F6;   // azul violeta
$color-primary-hover: #316BCA;

$color-primary-strong: #1D4ED8; // azul fuerte

$color-success: #10b981;   // verde
$color-success-hover: #059669;

$color-danger: #ef4444;    // rojo
$color-danger-hover: #b91c1c;

$color-disabled: #a5b4fc;

// Colores y fuentes para landing
$primary-bluehover: #2563eb;
$background-3: #f3f4f6;

$semibold-header-1-font-size: 2rem;

$extra-bold-header1-font-size: 3rem; // ajusta según diseño real

$text-1-font-size: 1rem;
$text-2-font-size: 0.875rem;
