<div class="auth">
  <app-auth-header></app-auth-header>
  <main class="auth__main">
    <section class="auth__card card">
      <h1 class="auth__title">Cambio de contraseña</h1>
      <p class="auth__subtitle">
        Elige una nueva contraseña. Asegúrate de que sea segura y fácil de recordar.
      </p>

      <form (ngSubmit)="resetPassword()" [formGroup]="form" novalidate>

        <div class="form-field">
          <label for="newPassword" class="auth__label">Nueva Contraseña</label>
          <div class="password-wrapper">
            <input id="newPassword" formControlName="newPassword" [type]="showPassword ? 'text' : 'password'" class="auth__input" placeholder="**********" />
            <button type="button" (click)="showPassword = !showPassword" class="toggle-password-btn">
              <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
              <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7a10.05 10.05 0 012.641-4.362M6.28 6.28A10.05 10.05 0 0112 5c4.477 0 8.268 2.943 9.542 7a10.048 10.048 0 01-4.51 5.645M15 12a3 3 0 01-3 3m0 0a3 3 0 01-3-3m3 3L6.28 6.28" />
              </svg>
            </button>
          </div>

          <div *ngIf="controlHasError('newPassword', 'required') && form.get('newPassword')?.touched" class="error">
            La contraseña es obligatoria.
          </div>
        </div>

        <button type="submit" class="btn btn--primary auth__button" [disabled]="form.invalid">
          Cambiar contraseña
        </button>
      </form>

    </section>
  </main>
  <app-footer></app-footer>
</div>
