<div class="auth">
  <app-auth-header></app-auth-header>
  <main class="auth__main">
    <section class="auth__card card">
      <h1 class="auth__title">¿Olvidaste tu contraseña?</h1>
      <p class="auth__subtitle">
        Tranquilo, te enviaremos un enlace para restablecerla
      </p>

      <form (ngSubmit)="sendForgotPasswordEmail()" [formGroup]="form" novalidate>

        <div class="form-field">
          <label for="email" class="auth__label">Correo electrónico</label>
          <input id="email" formControlName="email" type="email" class="auth__input" placeholder="m@example.com" />
          <div *ngIf="controlHasError('email', 'required') && form.get('email')?.touched" class="error">
            El correo electrónico es obligatorio.
          </div>
          <div *ngIf="controlHasError('email', 'email')" class="error">
            El correo electrónico no es válido.
          </div>
        </div>

        <button type="submit" class="btn btn--primary auth__button" [disabled]="form.invalid">
          Enviar
        </button>
      </form>

    </section>
  </main>
  <app-footer></app-footer>
</div>