.placeholder {
  margin: 50px;
  text-align: center;
  color: rgba(0,0,0,0.6);
  font-style: italic;
  padding-bottom: 50px;
}

.dashboard-row {
  display: flex;
  align-items: stretch;
  margin-top: 48px;
  width: 100%;
  gap : 32px;
  
}

.kpi-col {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 48px;
  min-width: 220px;
  /* Esto hará que la altura de la columna sea la suma de los KPIs */
}

.line-chart-col {
  flex: 1 1 0;
  margin-right: 48px;
  height: 450px;   
  display: flex;
  align-items: stretch;
  min-width: 0;    
  overflow-x: hidden;
}

.line-chart-col app-line-chart {
  width: 100% !important;  /* Asegura que ocupe todo el ancho disponible */
  height: 100%;
  display: flex;
  min-width: 0;            /* Permite que el chart encoja */
  max-width: 100%;
}

.dashboard-row {
  align-items: stretch;
  
}

.bar-chart-col, .empty-col {
  flex: 1 1 0;      /* Cada columna ocupa 50% del ancho de la fila */
  min-width: 0;     /* Para que puedan encogerse bien en Flexbox */
  display: flex;
  align-items: stretch;
}
.bar-chart-col{
  margin-left: 48px; 
  margin-right: 48px;
}

.dashboard-row > app-logs-table {
  flex: 1 1 0;  /* crecerá para llenar todo el ancho */
  min-width: 0; /* para que pueda encoger si el contenedor es muy estrecho */
  margin-right: 48px;
  margin-left: 48px;
  margin-bottom: 48px;
}

.dashboard-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line-chart-col app-line-chart {
  width: 100%;
  height: 100%;
}

.line-chart-col .dashboard-card {
  height: 100%;
}

.no-data-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;


  /* Borde punteado y fondo suave */
  padding: 1rem;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  background-color: #f5faff;
  border-radius: 0.5rem;
  text-align: center;
}

.placeholder-icon {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.placeholder-text {
  /* Texto en cursiva y color secundario */
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.4;
}
