@use 'utils/variables' as *;

.auth-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3vw; // Usar vw hace el padding responsivo
  
  max-width: 1280px;
  margin: 0 auto;

  &__brand {
    font-size: $semibold-header-1-font-size;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    color: $color-primary;
    cursor: pointer;
    @media (max-width: 768px) {
      font-size: x-large;
    }
    @media(max-width: 480px) {
      //hide 
      font-size: 20px;
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }
}
