@use 'utils/variables' as *;
@use 'utils/mixins' as *;

.train-content {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.train__container {
  max-width: 700px;
  width: 100%;
}

.train__title,
.train__subtitle {
  text-align: center;
  margin-bottom: 1rem;
}

.train__instructions {
  margin-bottom: 0.5rem;
}

.train__question {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.train__options {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;

  li {
    margin-bottom: 0.75rem;
  }
}

.train__option {
  display: block;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  input[type='radio'] {
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: #f3f4f6;
  }
}
.elo-bar-container {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 3rem; // espacio para el marcador inferior
}

.elo-bar {
  display: flex;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.elo-segment {
  flex: 1;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.elo-marker {
  position: absolute;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 800;
  padding: 2px 4px;
  white-space: nowrap;
  z-index: 2;
}

.user-elo {
  top: -28px;;
  color: #1e88e5;
}

.question-elo {
  top: 40px;
  color: #e53935;
}

.streak-info {
  font-weight: bold;
  color: #ff9800;
  margin-bottom: 1rem;
}


///
/// 

::ng-deep .custom-result-dialog .mat-dialog-container {
  // border-radius: 100px;
  padding: 24px;
  max-width: 400px;
  text-align: center;
}

::ng-deep .custom-result-dialog .result.correct {
  background-color: #e8f5e9;
  color: #2e7d32;
}

::ng-deep .custom-result-dialog .result.incorrect {
  background-color: #ffebee;
  color: #c62828;
}

::ng-deep .custom-result-dialog h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

::ng-deep .custom-result-dialog mat-dialog-content p {
  font-size: 16px;
  margin: 8px 0;
}
.assistant-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem; // espacio entre robot y burbuja
}

.speech-bubble {
  position: relative;
  background: #f1f1f1;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  max-width: 300px;
  font-size: 1rem;
  color: #333;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
